.real-estate {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &--thumbnail {

    .real-estate__image {
      flex-basis: 120px;
      margin-right: 10px;
    }

    .real-estate__heading {
      font-size: 14px;
    }

    .real-estate__summary,
    .real-estate__columns,
    .real-estate__address,
    .real-estate__date {
      display: none;
    }
  }

  &__image {
    flex-basis: 250px;
    flex-shrink: 0;
    margin-right: 30px;
  }

  &__content {
    svg {
      margin-right: 5px;
    }
  }

  &__heading {
    a {
      &:hover {
        color: #1890ff !important;
      }
    }
  }

  &__columns {
    display: flex;
    margin-bottom: 10px;

    span {
      font-weight: 700;
      &:not(:last-child) {
        margin-right: 60px;
      }
    }
  }

  &__address {
    margin-bottom: 10px;
  }

  &__summary,
  &__date {
    color: rgba(#000, 0.6);
  }
}
