.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.ant-card-body {
  padding: 12px;
}

.ant-card-meta-title {
  white-space: initial;
  margin-bottom: 15px;
}