.header {
  &_content {
    padding-left: 30px;
    width: 100%;
    height: 61px;
    background: #ffffff;

    .logo {
      font-size: 24px;
      color: #6c7079;
      font-weight: 600;

      span {
        text-transform: uppercase;
        color: #2b2e35;
      }
    }
  }

  .main_nav {
    margin-left: 106px;
    height: 100%;

    ul {
      height: 100%;
    }

    li {
      position: relative;
      height: 100%;
      transition: all 200ms ease;

      &:not(:last-of-type) {
        margin-right: 26px;
      }
    }

    a {
      display: block;
      height: 100%;
      line-height: 61px;
      padding-left: 13px;
      padding-right: 13px;
      font-size: 16px;
      font-weight: 500;
      color: #2b2e35;
      &.active {
        background: #adc867;
        color: #fff;
      }
    }
  }

  .submit {
    width: 247px;
    background: #adc867;
    height: 100%;
    text-align: center;

    a {
      display: block;
      height: 100%;
      line-height: 61px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  .hamburger {
    display: none;
    font-size: 24px;
    color: #2b2e35;
    transition: all 200ms ease;
  }
}
