.real-estate-page {
  &_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;

    @include maxWidth($xxl) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include maxWidth($lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include maxWidth($sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}